/* General Styling  */

body {
    background-color: black;
    color: greenyellow;
    font-family: system-ui;
}

div#main {
    width: 100%;
    overflow: hidden;
}

div#main.display {
    font-size: 3.0em;
}


a {
    color: purple;
}

li.list-group-item {
    background-color: black;
    padding: 0;
    width : 100%
}

input {
    border: 0;
}

button {
    color: greenyellow;
    background: black;
    border: 1;
    border-color: greenyellow;
}

button.selected {
    background-color: red;
}

/* Structure */

div.block {
    width : 100%;
    float: left;
}

div.column {
    width: 50%;
    float:left;
}

div.avatar {
    cursor: none !important;
    overflow:hidden;
}

div.column-block {
    overflow:hidden;
    width: 100%;
}


/* Overrides */
#reconnect-button {
    font-size: x-large;
}

.clock {
    float: right;
    margin-right: 2rem;
    margin-bottom: 2rem;
    clear: both;
    font-size: larger;    
}

video#operator-video {
    height: 100%; 
    width: 100%;
    margin: 4px;
}


/* User List */
#user-list {
    overflow-y: scroll;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
} 

#user-list-ul {
    padding-left: 0;
}


#user-list::-webkit-scrollbar {
    display: none;
}

button.user-btn {
    padding: 0; 
    outline: 0;
    margin : 0;
    width : 100%
}



/* Messages */ 

span.user-name {
    font-style:italic;
    font-weight: bold;
}

div.messages {
    overflow:hidden;
    width: 100%;
}

div.message-list::-webkit-scrollbar {
    display: none;
  }


p.message {
    width: 100%;
    overflow-wrap: break-word;
    word-wrap: break-word;
    border-bottom: 1px dotted;
}

p.message.public-message {
    color: greenyellow;
}

p.message.private-message {
    color: red;
}


div.message-block{   
    overflow-x: scroll;
    overflow-y: auto ;
}

div.message-list {
    float: left;
    padding:4px;
    height:  100%;
    width: 100%; /* width: 20vw; */
    overflow-x: auto;
    overflow-y: scroll;
    text-align:left;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}


/* Messages Avatar */ 
.avatar#messages-private {
    overflow-y: scroll;
}

/* Messages Bot */ 
div.bot.message-list {
    width: 20vw;
}


/* Viewer Forms */ 



input.message-form {
    float: left;
    width : 80%;
    background-color: #3d3d3d;
    padding-left: 0px;
    padding-right: 0px;
    margin-left: 20px;
    margin-right:0;
    margin-bottom: 0.5em;
    border: 0px;
}

input.message-form.public {
    color: greenyellow;
}

input.message-form.private {
    color: red;
}


button.message-form {
    float: left;
    width: 10%;
    padding-left: 0px;
    padding-right: 0px;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0.5em;
    border: 0px;
}