body {
    background-color: black;
    color: greenyellow;
    font-family: system-ui;
}

a {
    color: purple;
}

.list-group-item {
    background-color: black;
}

/* Structure */

div.column {
    width: 50%;
    float:left;
}

/* #col-1 {

}

#col-1 {

} */

/* Buttons */
#reconnect-button {
    font-size: x-large;
}
button.selected {
    background-color: red;
}
 /* Messages */ 
div.messages {
    overflow-x: scroll;
}

div.message-list {
    float: left;
    margin-left: 4pt;
    margin-right: 4pt;
}

p.message {
    width: 200pt;
    overflow-wrap: break-word;
    word-wrap: break-word;
}

