div.main {
    width: 100%;
    overflow: hidden;
}

body {
    background-color: black;
    color: greenyellow;
    font-family: system-ui;
}

a {
    color: purple;
}

li.list-group-item {
    background-color: black;
    padding-top: 0;
    padding-bottom: 0;
    
}

button.user-button {
    padding: 0; 
    background: black;
    outline: 0;
}


/* Structure */

div.column {
    width: 50%;
    float:left;
}




/* Structure */
div.user-list {
    height:  30vh;
    width: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
}

/* Buttons */
#reconnect-button {
    font-size: x-large;
}
button.selected {
    background-color: red;
}
 /* Messages */ 

span.user-name {
    font-style:italic;
    font-weight: bold;
}

div.messages {
    overflow:hidden;
    width: 100%;

}

div.message-list {
    float: left;
    padding:4px;
    height:  100vh;
    width: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
    text-align:left;
    border-style: dotted;
}

p.message {
    width: 100%;
    overflow-wrap: break-word;
    word-wrap: break-word;
}

 /* Hide scrollbar for Chrome, Safari and Opera */
 .example::-webkit-scrollbar {
    display: none;
  }
  
  /* Hide scrollbar for IE, Edge and Firefox */
  .example {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  } 

.clock {
    float: right;
    margin-bottom: 2rem;
    padding-right: 30px;
    clear: both;
    font-size: larger;    

}