body {
    background-color: black;
    color: greenyellow;
    font-family: system-ui;
}

a {
    color: purple;
}

#reconnect-button {
    font-size: x-large;
}
button.selected {
    background-color: red;
}

.list-group-item {
    background-color: black;
}


div.messages {
    overflow-x: scroll;
}

p.message {
    width: 200pt;
    overflow-wrap: break-word;
    word-wrap: break-word;
}

div.message-list {
    float: left;
    margin-left: 4pt;
    margin-right: 4pt;
}