<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Antif Jitsi Bot</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>

<body>
  <!-- Content -->
  <script src="http://code.jquery.com/jquery-latest.min.js"></script>
  <!-- <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script> -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  <script src="https://meet.cobratheatercobra.com/libs/lib-jitsi-meet.min.js"></script>
  <script src="static/config.js"></script>
  <script src="static/utils.js"></script>
  <script src="static/events.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>
  
 
  <link rel="stylesheet" href="static/style-bot.css"></link> 

  <script type="text/javascript" charset="utf-8">



  function getInterfaceTypes(){
    return $.get("http://192.168.21.188:5001/interface-types",(data, status) => {
      console.info("interfaces available", data);
      return data;
    }); 
  }



  function setInteractionEngine(type, setData, users){
    //engineConfig['type'] = type
    $.ajax({
      type: "POST",
      url : "http://192.168.21.188:5001/engine-start/" + type ,
      data : JSON.stringify({ test: "test"}),    
      success : (data, status) => {
        console.info("Try start: ", type, data);
        setData(data);
      },
      error : (err) => {
        console.log("Error: " + err); //just use the err here
      },
      dataType : "json",
      contentType :  "application/json; charset=utf-8",
    });
  }

  function setInteractionEngineIds(uids){
    // engineConfig['ids'] = uids
    //engine_socketio.emit('set_interaction_engine_ids', engineConfig); 
  }

  function sendEngineCommand(command){
    //engine_socketio.emit('received_command', command); 
  }

  function relayMessage(interaction_id, message, postReplies){
    return $.ajax({
      type: "POST",
      url : "http://192.168.21.188:5001/engine-message/" + interaction_id ,
      data : JSON.stringify(message),    
      success : (data, status) => {
        console.info("relay_message", data);
        postReplies(data);
        return data;
      },
      error : (err) => {
        console.log("Error: " + err); //just use the err here
        return null;
      },
      dataType : "json",
      contentType :  "application/json; charset=utf-8",
    }); 
  }


  $(document).ready( function(){

    let socketio    = io('/bot');
    let ownDisplayName  = null;
    let meetingName     = null;
    let meetingUrl      = null;

    let connection      = null;
    let room            = null;

    let userList        = null;
    let meetingDetails  = null;
    let messageList     = null;
    let interactionSelector = null;
    let eventSelector       = null;
    let interface_types     = getInterfaceTypes();


    function getInterfaceTypes(){
        $.get("http://192.168.21.188:5001/interface-types",(data, status) => {
        console.info("interface", data);
        interface_types = data['interface-types'];
      }); 
    }


    // async function getInterfaceTypes(){
    //   const interface_types = fetch("http://192.168.21.188:5001/interface-types", {
    //     method: 'GET',
    //     headers: {
    //       'Content-Type': 'application/json'
    //     }
    //   })
    //   .then((response) => {
    //       return response.json();
    //   }).then(data => {
    //     return data['interface-types']
    //   })
    //   .catch((error) => {
    //     console.error('Error:', error);
    //   });
    //   return interface_types;
    // }

    // let interface_types = await getInterfaceTypes();

    function sendPublicMessage(message){
        console.info("Send public message: ", message);
        room.sendTextMessage(message);
    }

    function sendPrivateMessage(uid, message){
      console.info("Send private message: ", uid, message);
      room.sendPrivateTextMessage(uid, message);
      messageList.addPrivateReply(uid, message);
    }

    function postReplies(ret){
      if (ret && 'messages' in ret){
          ret['messages'].forEach(element => {
          if(element['channel'] == 'private'){
            sendPrivateMessage(element['user'], element['message'])
          } else {
            sendPublicMessage(element['message'])
          }
        });
      } else {
        console.warn(ret)
      }
    }

    function disconnect(){
      if (socketio) {
        socketio.disconnect();
      }
      if (connection) {
        connection.disconnect();
      }
        $("#main").html('<h1>Disconnected</h1>');
    }

    function startConference(){ 
        console.info('Joining room...');
        room = connection.initJitsiConference(meetingName, config);
        room.setDisplayName(ownDisplayName);
        room.on( JitsiMeetJS.events.conference.CONFERENCE_JOINED, onConferenceJoined );
        room.join();
    }

    function onConferenceJoined() {
      console.info('Console Joined!');
      addRoomCallbacks();

      messageList    = new MessageList($('#messages-public'), $('#messages-private'), room.myUserId(), ownDisplayName);
      userList       = new UserList($('#user-list'), room.getParticipants(), setInteractionEngineIds );
      meetingDetails = new MeetingDetails( $("#meeting-details"), meetingUrl);
      interactionSelector = new InteractionSelector(
        $("#interaction-selector"), 
        interface_types,
        setInteractionEngine,
        postReplies,
        userList.getSelectedIds
      );
      eventSelector    = new EventSelector($('#event-list'), sendPublicMessage);


      //userList.setSelectedIds(engineConfig['ids']);
    }

    function addConnectionCallbacks(){
      connection.addEventListener( JitsiMeetJS.events.connection.CONNECTION_FAILED, function () {
        console.warn('onConnectionFailed');
        disconnect();
      });

      connection.addEventListener( JitsiMeetJS.events.connection.CONNECTION_DISCONNECTED, function () {
        console.info('disconnect');
        disconnect();
      });
    
      connection.addEventListener( JitsiMeetJS.events.connection.CONNECTION_ESTABLISHED, function () {
        console.info('onConnectionSuccess');
        startConference();
      });
    }

    function addRoomCallbacks(){
      
      room.on( JitsiMeetJS.events.conference.MESSAGE_RECEIVED, (uid, text, ts) => {
        console.info('received_message', uid, text, ts);
        if (room.myUserId() != uid) { 
          let ret = relayMessage(
            interactionSelector.interaction_id, 
            {'user' : uid, 'message' : text, 'channel' : 'public'},
            postReplies
          );
        }
        messageList.addPublicMessage(uid,  userList.getDisplayName(uid), text);
      });

      room.on( JitsiMeetJS.events.conference.PRIVATE_MESSAGE_RECEIVED, (uid, text, ts) => {
          console.info('received_private_message', uid, text, ts);
          messageList.addPrivateMessage(uid,  userList.getDisplayName(uid), text);
          let ret = relayMessage(
            interactionSelector.interaction_id, 
            {'user' : uid, 'message' : text, 'channel' : 'private'},
            postReplies
          );

      });

      room.on( JitsiMeetJS.events.conference.USER_JOINED, function(id, user){
        console.info('participants joined', id, user);
        userList.addUser(user);
      });

      room.on( JitsiMeetJS.events.conference.USER_LEFT, function(id, user){
        console.info('participants left', id, user);
        userList.removeUser(user);
      });
    }

    socketio.on('connect', function() {
      console.info('socket connected');
    });

    socketio.on('start_conference', function(data) {
      console.info("data", data);

      callConfig = JSON.parse(data);
      ownDisplayName            = callConfig['displayName'];
      meetingName               = callConfig['conference'].toLowerCase();

      meetingUrl = 'https://' + config['hosts']['domain'] + '/' + meetingName;

      JitsiMeetJS.init();
      console.info("connecting...", config)

      connection = new JitsiMeetJS.JitsiConnection(null, null, config);
      addConnectionCallbacks();
      connection.connect();
    });
  
    socketio.on('disconnect', function() {
      console.info('socket disconnected');
      disconnect();
    });

    socketio.on('connect_error', function(err) {
      disconnect();
    });

    socketio.on('disconnect_now', function(data) {
      console.info('disconnect signal received');
      disconnect();
    });

  });

  </script>
  
  <div id="main" class="bot">
    <div id="row1" class="row">
      <div class="col-md-4">
        <div id="meeting-details">
          <a id="meeting-link" href="" target="_blank">Meeting Link</a>
        </div>
      </div>
      <div class="col-md-4">
        <h2>Users</h2>
        <div id="user-list"></div>
      </div>
      <div class="col-md-4">
        <div id="event-list"></div>
        <div id="interaction-selector"></div>
      </div>
    </div>
    <div id="row1" class="row">
      <div class="col-md-12">
        <h2>Chat</h2>
        <div id="messages-scroll">
          <div id="messages-public"></div>
          <div id="messages-private"></div>
        </div>

      </div>
    </div>
  </div>

</body>

</html>

