<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="google" content="notranslate">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Antifa Jitsi Avatar</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>

<body>
  <!-- Content -->
  <script src="http://code.jquery.com/jquery-latest.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  <script src="https://meet.cobratheatercobra.com/libs/lib-jitsi-meet.min.js"></script>
  <script src="static/config.js"></script>
  <script src="static/utils.js"></script>
  <script src="static/events.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>
  
 
  <link rel="stylesheet" href="static/style.css"></link> 

  <script type="text/javascript" charset="utf-8">


  $(document).ready( function(){

    let socketio    = io('/avatar');
    let engine_socketio = io('/engine');

    // Socket io callbacks

    socketio.on('connect', function() {
      console.info('socket connected');
    });

  
    socketio.on('start_conference', function(data) {
      console.info("data", data);

      callConfig = JSON.parse(data);
      const ownDisplayName            = callConfig['displayName'];
      const meetingName               = callConfig['conference'].toLowerCase();

      let selectedId = callConfig['default-engine-config']['ids']

      let meetingUrl = 'https://' + config['hosts']['domain'] + '/' + meetingName;
      let connection = null;
      let room       = null;

      JitsiMeetJS.init();

      console.info("connecting...", config)

      connection = new JitsiMeetJS.JitsiConnection(null, null, config);

      function disconnect(){
        socketio.disconnect();
        engine_socketio.disconnect();
        connection.disconnect();
        $("#main").html('<h1>Disconnected</h1>');
      }

      function startConference(){ 
        room = connection.initJitsiConference(meetingName, config);
        room.setDisplayName(ownDisplayName)
        room.join();

        function onConferenceJoined() {


          // event callbacks
          function setInteractionEngineIds(uids){
            engine_socketio.emit('set_interaction_engine_ids',  {
              'ids': uids,
            }); 
          }

          function setInteractionEngine(type){
            engine_socketio.emit('set_interaction_engine',  {
              'type': type,
              'ids': userList.getSelectedIds(),
            }); 
          }


          // Jitsi callbacks


          console.info('Console Joined!')

          let userList       = new UserList($('#user-list'), room.getParticipants(), null, selectable=false );

          let meetingDetails = new MeetingDetails( $("#meeting-details"), meetingUrl);

          let messageList    = new MessageList($('#messages'), room.myUserId(), ownDisplayName);

          socketio.on('disconnect_now', function(data) {
              console.info('disconnect signal received');
              disconnect()
          });

          // Socket io callbacks
          room.on( JitsiMeetJS.events.conference.MESSAGE_RECEIVED, (uid, text, ts) => {
              console.info('received_message', uid, text, ts);

              if (room.myUserId() != uid) { 
                socketio.emit('received_message',  {'uid': uid, 'text': text} );
              }
              messageList.addPublicMessage(uid,  userList.getDisplayName(uid), text);
            }
          );

          room.on( JitsiMeetJS.events.conference.PRIVATE_MESSAGE_RECEIVED, (uid, text, ts) => {
              console.info('received_private_message', uid, text, ts);
              messageList.addPrivateMessage(uid,  userList.getDisplayName(uid), text);
              socketio.emit('received_private_message',  {'uid': uid, 'text': text} );
            }
          );

          room.on( JitsiMeetJS.events.conference.USER_JOINED, function(id, user){
            console.info('participants joined', id, user);
            userList.addUser(user);
          });

          room.on( JitsiMeetJS.events.conference.USER_LEFT, function(id, user){
            console.info('participants left', id, user);
            userList.removeUser(user);
          });
        }

        room.on( JitsiMeetJS.events.conference.CONFERENCE_JOINED,
          onConferenceJoined,
        );

      }
    
      socketio.on('disconnect', function() {
        console.info('socket disconnected');
        disconnect();
      });

      socketio.on('connect_error', function(err) {
        disconnect();
      });

      connection.addEventListener( JitsiMeetJS.events.connection.CONNECTION_FAILED,
        function () {
          console.warn('onConnectionFailed');
          disconnect();
        }
      );

      connection.addEventListener( JitsiMeetJS.events.connection.CONNECTION_DISCONNECTED,
        function () {
          console.info('disconnect');
          disconnect();
        },
      );
    
      connection.addEventListener( JitsiMeetJS.events.connection.CONNECTION_ESTABLISHED,
        function () {
          console.info('onConnectionSuccess');
          startConference();
        }
      );

      connection.connect();
    });
  });

  </script>
  
  <div id="main">
    <div id="row1" class="row">

      <!-- Col1 -->
      <div class="col-md-6">
        <h2>Chat</h2>
        <div id="messages"></div>

      </div>
      <!-- Col2 -->
      <div class="col-md-6">
        <div id="meeting-details">
          <a id="meeting-link" href="" target="_blank">Meeting Link</a>
        </div>

        <h2>Users</h2>
        <div id="user-list"></div>
        <div id="event-list"></div>
      </div>
      </div>
    </div>

</body>

</html>

